.week3/
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints
.env
*.csv
*.xlsx

# Ignore outputs
output/

# Ignore data files, but keep DVC metafiles
 data/raw/
data/raw
data/processed/*
!data/raw/*.dvc
!data/processed/*.dvc

# Ignore DVC internal directories
.dvc/cache/
.dvc/tmp/
.dvc/path/
.dvc/cache/
.dvc/tmp/
.dvc/path/
